* {
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont,
    sans-serif;
}
.hover1:hover {
  color: blue;
}
.hover1 {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
}
