* {
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont,
    sans-serif;
}
.hover1:hover {
  color: blue;
}
.hover1 {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
}
.divHover:hover {
  box-shadow: 10px 10px 10px 10px 10px black;
  transform: scale(1.05);
  opacity: 0.6;
}
.iconMove {
  transition: all 0.3s linear 0s;
}
.divHover:hover .iconMove {
  transform: rotate(90deg);
  transition: all 0.3s linear 0s;
}
.img {
  position: relative;
  transition: all 0.3s linear 0s;
}
.img:hover {
  transform: translate(0px, -10px);
  transition: all 0.3s linear 0s;
}
.joinBtn:hover {
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #353535;
  transform: translate(0px, -2px);
  transition: all 0s linear 0s;
}
.joinBtn:hover .iconMove {
  transform: rotate(90deg);
  transition: all 0.3s linear 0s;
}
.btnHover {
  transition: all 0.3s linear 0s;
}
.btnHover:hover {
  transform: translate(0px, -2px);
  transition: all 0.3s linear 0s;
  box-shadow: 0 4px 10px 0 rgba(80, 79, 79, 0.869),
    0 6px 20px 0 rgba(80, 79, 79, 0.869);
}
.btnHover:hover .iconMove {
  transform: rotate(90deg);
  transition: all 0.3s linear 0s;
}
.modalDiv {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  padding-top: auto;
  background-color: #a09d9dc7;
}
.childDiv {
  position: fixed;
  top: 15%;
  left: 30%;
  height: 430px;
  width: 50%;
  border-radius: 10px;
  z-index: 1000;
  background-color: #262525;
}
.div1Hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.div1Hover:hover {
  background: rgb(16, 218, 219);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  );
}
.div1Hover:hover .iconMove {
  transform: rotate(90deg);
  transition: all 0.3s linear 0s;
}
.div2Hover {
  transition: all 0.3s linear 0s;
}
.div2Hover:hover {
  transform: translate(0px, -5px);
  transition: all 0.3s linear 0s;
  box-shadow: 0px 5px 5px rgba(215, 214, 214, 0.732);
}
.gradientColor {
  background: linear-gradient(
    #b7deed 0%,
    #71ceef 50%,
    blue,
    #21b4e2 51%,
    #b7deed 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainDivHover {
  transition: all 0.3s linear 0s;
}
.mainDivHover:hover {
  transform: scale(1.05);
  transition: all 0.3s linear 0s;
}
.gradientText {
  background: linear-gradient(
    180deg,
    rgba(31, 68, 106, 1) 35%,
    rgba(120, 203, 200, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pStyle {
  font-size: 16px;
  font-weight: 400;
  color: rgb(102, 102, 102);
  line-height: 24px;
  width: 80%;
  opacity: 0.8;
}
.h5Style {
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  width: 90%;
}
.iconmove {
  transform: rotate(0deg);
  transition: all 0.3s linear 0s;
}
.buttonHover {
  background-color: #1e1e1e;
}
.buttonHover:hover {
  background-color: #6d6c6c66;
}
.buttonHover:hover .iconmove {
  transform: rotate(90deg);
  transition: all 0.3s linear 0s;
}
.titleStyle {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: rgb(255, 255, 255);
}
.p1Style {
  font-size: 17px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  opacity: 0.9;
}
.div3Hover {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  width: 34%;
  cursor: pointer;
}
.div3Hover:hover {
  text-decoration: underline;
}
.momentHover {
  transition: all 0.3s linear 0s;
}
.momentDivHover:hover .momentHover {
  transform: rotate(2deg);
  transition: all 0.3s linear 0s;
}
.icon2 {
  color: #0000ff;
}
.blockHover {
  width: 95%;
  transition: all 0.2s linear 0s;
}
.blockHover:hover {
  width: 100%;
  transition: all 0.2s linear 0s;
  box-shadow: 10px 10px 10px rgba(221, 218, 218, 0.93),
    -10px -10px 10px rgba(221, 218, 218, 0.93);
}
.contanerImg {
  transition: all 0.3s linear 0s;
}
.contanerImg:hover {
  transform: scale(1.05);
  transition: all 0.3s linear 0s;
}
.button2Hover {
  background-color: rgb(31, 42, 55);
  height: 50px;
  width: 140px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 0px;
  transition: all 1s ease-out 0s;
}
.button2Hover:hover {
  background-color: #4c555f;
  transition: all 1s ease-in 0.3s;
}
.iconmove1 {
  transform: rotate(0deg);
  transition: all 0.3s linear 0s;
  margin-left: 10px;
}
.button2Hover:hover .iconmove1 {
  transform: rotate(90deg);
}

.toggleDiv {
  box-shadow: 1px 1px 3px #f1f1f1, 0px 2px 3px #f1f1f1;
  height: 100px;
  border-radius: 12px;
}
.child1Div {
  height: 70%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.queDiv {
  font-size: 19px;
  font-weight: 500;
  line-height: 21px;
  color: rgb(31, 42, 55);
  transition: all 0.2s linear 0s;
}
.toggleDiv:hover {
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.42);
}
.child1Div:hover {
  background-color: #fbfbfb;
}
.child1Div:hover .queDiv {
  transform: translate(5px, 0px);
  transition: all 0.3s linear 0s;
}
.plusDiv {
  font-size: 2em;
  line-height: 28px;
  color: rgb(31, 42, 55);
}
.ptagDiv {
  font-size: 1.08em;
  opacity: 0.8;
}
.hiddenDiv {
  display: none;
}
.mainDiv2 {
  height: 740px;
}
.rowHeight {
  height: 650px;
}
.divNone {
  display: none;
}
.divBlock {
  display: block;
}
.arrowIcon {
  transform: rotate(180deg);
  transition: all 0.3s linear 0s;
  margin-left: 10px;
}
.button2Hover:hover .arrowIcon {
  transform: rotate(90deg);
  transition: all 0.3s linear 0s;
}
.brandIconDiv {
  height: 45px;
  width: 45px;
  background-color: #2c2e36;
  transition: background-color 0.3s linear 0s;
}
.fbIconHover:hover {
  background-color: #1877f2;
  transition: background-color 0.3s linear 0s;
}
.twtIconHover:hover {
  background-color: #1da1f2;
  transition: background-color 0.3s linear 0s;
}
.instaIconHover:hover {
  background-color: #e4405f;
  transition: background-color 0.3s linear 0s;
}
.youtubeIconHover:hover {
  background-color: #ff0000;
  transition: background-color 0.3s linear 0s;
}
.ulDiv {
  list-style-type: none;
  padding: 0px;
  color: #a8a9b2;
  font-size: 1.2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.liHover {
  cursor: pointer;
}

.liHover:hover {
  color: white;
}
.spanDiv1 {
  color: #a8a9b2;
  font-size: 1.2em;
  cursor: pointer;
}
.spanDiv3 {
  cursor: pointer;
  height: auto;
}
.spanDiv3:hover {
  color: white;
}
.copyRightMainDiv {
  color: #a0a1a5;
  font-size: 1.15em;
  border-top: 0.1px solid rgba(134, 134, 134, 0.599);
}
