* {
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont,
    sans-serif;
}
.hover1:hover {
  color: blue;
}
.hover1 {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
}
.divHover:hover {
  box-shadow: 10px 10px 10px 10px 10px black;
  transform: scale(1.05);
  opacity: 0.6;
}
.iconMove {
  transition: all 0.3s linear 0s;
}
.divHover:hover .iconMove {
  transform: rotate(90deg);
  transition: all 0.3s linear 0s;
}
.img {
  position: relative;
  transition: all 0.3s linear 0s;
}
.img:hover {
  transform: translate(0px, -10px);
  transition: all 0.3s linear 0s;
}
.joinBtn:hover {
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #353535;
  transform: translate(0px, -2px);
  transition: all 0s linear 0s;
}
.joinBtn:hover .iconMove {
  transform: rotate(90deg);
  transition: all 0.3s linear 0s;
}
.btnHover {
  transition: all 0.3s linear 0s;
}
.btnHover:hover {
  transform: translate(0px, -2px);
  transition: all 0.3s linear 0s;
  box-shadow: 0 4px 10px 0 rgba(80, 79, 79, 0.869),
    0 6px 20px 0 rgba(80, 79, 79, 0.869);
}
.btnHover:hover .iconMove {
  transform: rotate(90deg);
  transition: all 0.3s linear 0s;
}
.modalDiv {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  padding-top: auto;
  background-color: #a09d9dc7;
}
.childDiv {
  position: fixed;
  top: 15%;
  left: 30%;
  height: 430px;
  width: 50%;
  border-radius: 10px;
  z-index: 1000;
  background-color: #262525;
}
.div1Hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.div1Hover:hover {
  background: rgb(16, 218, 219);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  );
}
.div1Hover:hover .iconMove {
  transform: rotate(90deg);
  transition: all 0.3s linear 0s;
}
.div2Hover {
  transition: all 0.3s linear 0s;
}
.div2Hover:hover {
  transform: translate(0px, -5px);
  transition: all 0.3s linear 0s;
  box-shadow: 0px 5px 5px rgba(215, 214, 214, 0.732);
}
.gradientColor {
  background: linear-gradient(
    #b7deed 0%,
    #71ceef 50%,
    blue,
    #21b4e2 51%,
    #b7deed 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainDivHover {
  transition: all 0.3s linear 0s;
}
.mainDivHover:hover {
  transform: scale(1.05);
  transition: all 0.3s linear 0s;
}
.gradientText {
  background: linear-gradient(
    180deg,
    rgba(31, 68, 106, 1) 35%,
    rgba(120, 203, 200, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
